---
import {
    getCollection,
    getEntries,
    type ReferenceDataEntry,
} from "astro:content";
import { LinkButton } from "@astrojs/starlight/components";
import type { StarlightIcon } from "@astrojs/starlight/types";

interface Props {
    entries?: ReferenceDataEntry<"membres">[];
}

const { entries = null } = Astro.props;

const collection = entries
    ? await getEntries(entries)
    : await getCollection("membres");
---

<div class="flex flex-col md:flex-row md:items-stretch gap-4">
    {
        collection.length === 0 ? (
            <p class="text-gray-800">Aucun membre pour le moment.</p>
        ) : (
            collection.map((item) => (
                <div class="card card-side flex-1">
                    <figure>
                        <img src={item.data.avatar} alt="Cover" />
                    </figure>
                    <div class="card-body flex-1">
                        <h4 class="card-title flex-1 my-1 md:my-0">
                            {item.data.nom}
                        </h4>

                        <div class="card-actions">
                            {item.data.liens.map((lien) => (
                                <LinkButton
                                    href={lien.href}
                                    variant="minimal"
                                    icon={lien.icon as StarlightIcon}
                                    iconPlacement="start"
                                >
                                    {lien.label}
                                </LinkButton>
                            ))}
                        </div>
                    </div>
                </div>
            ))
        )
    }
</div>

<style>
    img {
        width: 120px;
        height: auto;
        border-radius: 120px;
        object-fit: cover;
    }
</style>
