@import 'tailwindcss';
@import 'github-markdown-css/github-markdown-light.css';
@plugin "daisyui" {
   themes: pastel --default;
 }
@plugin "daisyui/theme" {
  name: 'pastel';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(98.462% 0.001 247.838);
  --color-base-300: oklch(92.462% 0.001 247.838);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(70% 0.14 182.503);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(65% 0.241 354.308);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(55% 0.046 257.417);
  --color-neutral-content: oklch(92% 0.013 255.508);
  --color-info: oklch(86% 0.127 207.078);
  --color-info-content: oklch(52% 0.105 223.128);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(52% 0.154 150.069);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(55% 0.195 38.402);
  --color-error: oklch(80% 0.114 19.571);
  --color-error-content: oklch(50% 0.213 27.518);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 1;
}

body {
  background-color: #f5f6f8;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

.section {
  margin: 3rem 0;

  .header {
    margin-bottom: 2rem;
  }
}

.h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

ul,
ol {
  list-style: initial;
}

.breadcrumb {
  list-style: none;
}

.markdown-body {
  font-family: var(
    --default-font-family,
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji'
  );
}
