---
import Layout from "../layouts/Layout.astro";
import Content from "../content/partials/mentions-legales.md";
---

<Layout
    title="Mentions légales"
    description="Mentions légales du site Action 21"
>
    <section class="section">
        <div class="container">
            <article class="bg-white rounded-xs p-8">
                <div class="markdown-body">
                    <Content />
                </div>
            </article>
        </div>
    </section>
</Layout>
