<footer class="bg-primary text-white p-6">
    <div class="container">
        <div class="footer sm:footer-horizontal">
            <nav>
                <h6 class="footer-title">Action 21</h6>
                <a class="link link-hover" href="/docs/association">
                    L'association
                </a>
                <a
                    class="link link-hover"
                    href="/docs/association/fonctionnement"
                >
                    Fonctionnement
                </a>
                <a class="link link-hover" href="/docs/association/budget">
                    Budget
                </a>
                <a class="link link-hover" href="/docs/nous-soutenir">
                    Nous soutenir
                </a>
            </nav>
            <nav>
                <h6 class="footer-title">Activité</h6>
                <a class="link link-hover" href="/programmes">Programmes</a>
                <a class="link link-hover" href="/actions">Actions</a>
                <a class="link link-hover" href="/blog">Blog</a>
            </nav>
            <nav>
                <h6 class="footer-title">Site</h6>

                <a class="link link-hover" href="/mentions-legales">
                    Mentions légales
                </a>
                <a
                    class="link link-hover"
                    href="/mentions-legales#politique-de-confidentialité-des-données"
                >
                    Politique de confidentialité des données
                </a>
                <a
                    class="link link-hover"
                    href="/mentions-legales#politique-de-confidentialité-des-données"
                >
                    Gestion des cookies
                </a>
            </nav>
        </div>
    </div>
    <div class="footer footer-center">
        <aside class="pt-5">
            <p>
                Action 21 © {new Date().getFullYear()} - Tous droits réservés
            </p>
        </aside>
    </div>
</footer>
