---
import Logo from "../assets/logo.svg";

const pathname = Astro.url.pathname;
const paths = [
    { href: "/programmes", title: "Programmes", match: "/programmes" },
    { href: "/actions", title: "Actions", match: "/actions" },
    { href: "/docs", title: "Documentation", match: "/docs" },
];
---

<header class="bg-white shadow-sm px-6">
    <div class="container">
        <div class="navbar">
            <div class="flex-1">
                <a href="/">
                    <Logo class="inline-block" width={120} />
                </a>
            </div>
            <nav class="hidden md:flex items-center">
                {
                    paths.map((path) => (
                        <a
                            href={path.href}
                            class:list={[
                                { active: pathname.includes(path.match) },
                            ]}
                        >
                            {path.title}
                        </a>
                    ))
                }
            </nav>
            <div class="md:hidden">
                <button
                    class="btn btn-square btn-ghost"
                    popovertarget="menu"
                    style="anchor-name:--menu"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        class="inline-block h-5 w-5 stroke-current"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                        ></path>
                    </svg>
                </button>
                <ul
                    class="dropdown dropdown-end menu w-52 rounded-box bg-base-100 shadow-sm"
                    popover
                    id="menu"
                    style="position-anchor:--menu"
                >
                    {
                        paths.map((path) => (
                            <li class="font-semibold">
                                <a
                                    href={path.href}
                                    class:list={[
                                        {
                                            active: pathname.includes(
                                                path.match,
                                            ),
                                        },
                                    ]}
                                >
                                    {path.title}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
</header>

<style>
    nav a {
        padding: 0.5rem 1rem;
        font-weight: 600;
        opacity: 70%;

        &.active {
            opacity: 100%;
        }
    }
</style>
